<%= "Find Friends" %>

<html>
<head>
  <title>Static Map</title>
  <style>
    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  </style>
</head>
<body>
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading mb-0">Jana Social</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </header>

  <div class="content-container">
    <img src="https://www.mapquestapi.com/staticmap/v5/map?key=<%= Figaro.env.MAPQUEST_API_KEY %>&center=<%= @user.zipcode %>&size=400,300@2x" alt="Static Map">

    <%= form_tag search_results_path, method: :get do %>
      <%= label_tag :radius, 'Search radius (miles):' %>
      <%= number_field_tag :radius, params[:radius], min: 1, max: 500 %>
      <%= submit_tag 'Search' %>
    <% end %>
  </div>

</body>
</html>