<html>
<head>
  <title>Static Map</title>
  <style>
    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  </style>

  <title>Center Text Example</title>
  <style>
    /* Center the text */
    .center-text {
      text-align: center;
    }
  </style>
</head>
<body>
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading mb-0">Jana Social</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </header>

  <div class="center-text">
    <h2>Find Friends</h2>
  </div>
  
  <div class="content-container">
    <img src="https://www.mapquestapi.com/staticmap/v5/map?key=<%= Figaro.env.MAPQUEST_API_KEY %>&center=<%= @user.zipcode %>&size=400,300@2x" alt="Static Map">

      <%= form_tag search_results_path, method: :get do %>
        <div class="form-group">
          <%= label_tag :radius, 'Search radius (miles):' %>
          <input type="range" class="form-range" name="radius" id="radius-slider" min="1" max="2500" step="1" value="<%= params[:radius] || 0 %>">
          <span id="radius-value"><%= params[:radius] || 0 %></span> miles
          <% hidden_field_tag :radius, params[:radius], min: 1, max: 2500, class: 'form-control', id: 'radius-input' %>
        </div>
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      <% end %>

      <script>
          // Get references to the slider and input elements
          const slider = document.getElementById('radius-slider');
          const input = document.getElementById('radius-input');
          const valueSpan = document.getElementById('radius-value');

          // Update the value span and input value when the slider is changed
          slider.addEventListener('input', function() {
            valueSpan.textContent = slider.value;
            input.value = slider.value;
          });
        </script>
  </div>

</body>
</html>