<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Jana Social New User</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- Fonts CSS-->
    </head>
    <body id="page-top">
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading mb-0">New User</h1>
                <!-- Icon Divider-->
            </div>
        </header>
        <section class="page-section portfolio" id="new user">
            <div class="container">
                <!-- New User Form-->
                <div class="divider-custom">
                    <%= bootstrap_form_with url: "/users", method: :post do |f| %>
                        <%= f.text_field :username %>
                        <%= f.email_field :email %>
                        <%= f.password_field :password %>
                        <%= f.text_field :zipcode %>
                        <%= f.submit 'Create New Account' %>
                    <% end %>
                </div>
            </div>
        </section>
    </body>
</html>