<style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Ensure the body takes up the full height of the viewport */
    }

    h1 {
      margin-bottom: 20px;
    }

    /* Add any other styling you need for the map and the form */
  </style>

<body>
<div class="container"> <!-- Optional, to center the form -->
  <%= bootstrap_form_tag url: "/users/#{@user}/events" do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :title %>
        <%= f.text_area :description %>
        <%= f.text_field :street_address %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :city %>
        <%= f.text_field :state, help: "Must be two character abbreviation" %>
        <%= f.text_field :zipcode %>
        <%= f.datetime_field :date_time %>
        <%= f.check_box :private %>
      </div>
    </div>
    <%= f.submit "Create Event", class: "btn btn-primary" %>
  <% end %>
</div>
</body>

