<html>
<head>
  <title>Search Show Page</title>
  <style>
    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

     .button-container {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .accept-button {
      background-color: #4caf50; /* Green */
      color: white;
      padding: 15px 30px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .reject-button {
      background-color: #ff5733; /* Red */
      color: white;
      padding: 15px 30px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <h1 class="masthead-heading mb-0">Jana Social</h1>
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
    </div>
  </header>
  <div class="content-container"><br>
    <h2><%= @user.username %></h2><br>
        <img src="<%= @user.photo_url %>" class="img-thumbnail"><br><br><br><br>
    <ul>
      <li><b>Likes:</b> <%= @user.likes %></li><br>
      <li><b>Dislikes:</b> <%= @user.dislikes %></li><br>
      <li><b>Bio:</b> <%= @user.bio %></li><br>
    </ul>
      <div class="button-container">
       <div style="display: flex; gap: 20px;">
        <%= button_to "Accept", search_users_path(user_id: session[:user_id], friend_id: @user.id, status: 'approved'), method: :post, class:"accept-button" %>

        <%= button_to "Reject", search_users_path(user_id: session[:user_id], friend_id: @user.id, status: 'declined'), method: :post, class:"reject-button" %>
        </div>
      </div>
  </div>
</body>
</html>
